@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row justify-content-center">
    <div class="col-6">
        <form>
            <div class="row">

                <div class="col-12">
                    <div class="form-group">
                        <label for="inputTitle">Title</label>
                        <input type="text" class="form-control" id="inputTitle" placeholder="Title">
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label for="inputTitle">Location</label>
                        <input type="text" class="form-control" id="inputLocation" placeholder="Location">
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label for="inputMultipleImages">Upload images</label>
                        <input class="form-control" type="file" id="inputMultipleImages" accept="image/*" multiple />
                        <output></output>
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label for="inputFloor">Floor</label>
                        <input type="text" class="form-control" id="inputFloor" placeholder="Floor">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="inputStorey">Storey</label>
                        <input type="text" class="form-control" id="inputStorey" placeholder="Storey">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="inputSquare">Square</label>
                        <input type="text" class="form-control" id="inputSquare" placeholder="Square">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="inputBuildAge">Building age</label>
                        <input type="text" class="form-control" id="inputBuildAge" placeholder="Building age">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="inputPrice">Price</label>
                        <input type="text" class="form-control" id="inputPrice" placeholder="Price">
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label for="inputDescription">Description</label>
                        <textarea class="form-control" rows="5" id="inputDescription"></textarea>
                    </div>
                </div>

                <div class="col-12 mt-2 form-group">
                    <button type="submit" class="btn btn-primary">Create Flat</button>
                </div>
            </div>

        </form>

    </div>
</div>