@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="row justify-content-center">

    <div class="col-10 border">

        <!-- User Info-->
        <div class="row p-4">
            <div class="col-3">
                <h6>Hi, User.Name User Surname</h6>
            </div>
            <div class="col-3">
                <a href="/User/ProfileSettings" class="btn btn-info" role="button">Profile Settings</a>
            </div>
            <div class="col-3">
                <a href="/User/FlatCreate" class="btn btn-secondary" role="button">Flat create</a>
            </div>
            <div class="col-3">
                <a href="/User/LandCreate" class="btn btn-secondary" role="button">Land create</a>
            </div>

        </div>
        <!-- End User Info-->


        <!-- Property Listing -->
        <div class="row text-center mb-2">
            <div class="col-lg-7 mx-auto">
                <h1>Product List</h1>
            </div>
        </div>

        <!-- List group-->
        <ul class="list-group">
            <!-- list group item-->
            <li class="list-group-item border mb-3">
                <!-- Custom content-->
                <div class="row flex-lg-row p-3">
                    <div class="col-4">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHW3aOemXDA_ZS9PsVxRXomGYw70-c4UocJyC1EO5wXw&ss" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div>
                    <div class="col-5">
                        <div class="media-body order-2 order-lg-1">
                            <a class="mt-0 mb-2" href="/Home/FlatView">Here is our title FlatView</a>
                            <p class="font-italic text-muted mb-0 small">Here is our description</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">$64,999</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 btn-group-vertical">
                        <a href="#" class="btn btn-warning" role="button">Edit</a>                  
                        
                        <a href='#' data-toggle='collapse' id='adActivate' class='btn btn-primary'>Activate</a>

                        <a href="#" class="btn btn-outline-danger" role="button">Delete</a>
                    </div>
                </div>
            </li>
            <!-- End -->

        </ul> <!-- End -->
        
        <!-- End Property Listing -->

    </div>

</div>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('#adActivate').on('click', function () {
                var text = $('#adActivate').text();

                $('#adActivate').toggleClass('btn-primary btn-secondary');
                if (text === "Activate") {
                    $(this).html('Deactivate');
                } else {
                    $(this).text('Activate');
                }
            });
        });
    </script>

}